@media only screen and (max-width: 933px) {
    canvas {
        width: 100%;
    }

    .gameStartScreen {
        scale: 0.9;
    }

    .fullscreenButton {
        display: none;
    }

    .fullscreenIcon {
        display: block;
        width: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .actionMoveBar {
        display: flex;
    }

    .actionAttackBar {
        display: flex;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media (max-width: 700px) {
    .gameStartScreen {
        width: auto;
    }
}

@media (max-width: 550px) {
    .gameStartScreen {
        flex-direction: column;
        height: auto;
    }
}