@media (min-width: 1921px) {
    body {
        background-size: 100%;
        justify-content: center;
    }

    .gameStartScreen {
        height: 60%;
        width: 40%;
    }

    .topWrapper {
        width: 40%;
    }

    .impressumImg {
        width: 10vw;
    }

    .startGameImg {
        height: auto;
        width: 8vw;
    }

    .arrowImg {
        height: 22px;
    }

    .arrow {
        height: 34px;
    }

    .description {
        font-size: 26px;
    }

    .moveSharkie {
        gap: 20px;
    }

    .content {
        font-size: 30px;
        max-width: 1920px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 44px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 36px;
    }

    .content p {
        font-size: 30px;
    }
}

@media (min-width: 3000px) {
    .description {
        font-size: 32px;
    }

    .arrow {
        height: 38px;
    }

    .moveSharkie {
        gap: 24px;
    }

}

@media only screen and (max-width: 1050px) {
    button {
        font-size: 18px;
        width: 50px;
        height: 50px;
    }

    .arrowButtonUp {
        margin-left: 50px;
        margin-right: 50px;
        height: 50px;
        width: 50px;
    }

    .actionButtonMelee {
        height: 50px;
        width: 102px;
    }

    .actionAttackBar {
        width: 106px;
    }
}

@media only screen and (max-width: 780px) {
    .gameStartScreen {
        width: 90%;
    }

    .topWrapper {
        width: 90%;
    }

    .fullscreenButton {
        display: none;
    }

    .fullscreenIcon {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .actionMoveBar {
        display: flex;
    }

    .actionAttackBar {
        display: flex;
    }
}

@media only screen and (max-width: 620px) {
    .gameStartScreen {
        flex-direction: column;
        width: 300px;
        height: auto;
    }
}

@media (max-width: 550px) {
    .gameStartScreen {
        width: 252px;
    }

    h1 {
        font-size: 40px;
    }

    .arrowImg {
        height: 14px;
    }

    .arrow {
        height: 24px;
    }

    .description {
        font-size: 16px;
    }

    .moveSharkie {
        gap: 10px;
    }

    button {
        font-size: 14px;
        width: 40px;
        height: 40px;
    }

    .arrowButtonUp {
        margin-left: 40px;
        margin-right: 40px;
        height: 40px;
        width: 40px;
    }

    .actionButtonMelee {
        height: 40px;
        width: 86px;
    }

    .actionAttackBar {
        width: 86px;
    }

    .actionMoveBar {
        width: 126px;
    }
}

@media only screen and (max-height: 601px) {
    h1 {
        display: none;
    }

    .topWrapper {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .gameStartScreen {
        margin-top: 10px;
    }
}

@media only screen and (max-height: 480px) {
    .gameStartScreen {
        width: calc(100% - 306px);
        height: 80%;
    }

    .startGameImg {
        height: 30vh;
    }

    .impressumImg {
        width: 14vw;
    }

    .introButton {
        border-radius: 8px;
        width: 24px;
        height: 24px;
    }

    .moveIntro {
        width: 86px;
        gap: 2px;
    }

    .upIntro {
        margin-left: 28px;
        margin-right: 28px;
    }

    .arrowImg {
        height: 14px;
    }

    .arrow {
        height: 24px;
    }

    .description {
        font-size: 16px;
    }

    .moveSharkie {
        gap: 10px;
    }

    button {
        font-size: 14px;
        width: 40px;
        height: 40px;
    }

    .arrowButtonUp {
        margin-left: 40px;
        margin-right: 40px;
        height: 40px;
        width: 40px;
    }

    .actionButtonMelee {
        height: 40px;
        width: 86px;
    }

    .actionAttackBar {
        width: 86px;
    }

    .actionMoveBar {
        width: 126px;
    }
}