@font-face {
    font-family: luckiestGuy;
    src: url(./fonts/LuckiestGuy-Regular.ttf);
}

 #pleaserotate-graphic{
    fill: #fff;
}

#pleaserotate-backdrop {
    color: #fff;
    background-color: #000;
}

canvas {
    background-color: black;
    display: none;
}

body {
    background-color: rgb(22, 13, 72);
    background-image: url("./img/3.\ Background/background2.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e04024;
    text-shadow: -5px -1px 0 #3a5aa6, 5px -1px 0 #3a5aa6, -4px 1px 0 #3a5aa6, 4px 1px 0 #3a5aa6;
    font-family: luckiestGuy;
    margin: 0;
}

.dNone {
    display: none;
}

h1 {
    font-size: 40px;
}

button {
    background-color: mediumpurple;
    font-weight: 800;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.muteButton {
    position: absolute;
    top: 20px;
    left: 20px;
}

.fullscreenButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 180px;
    cursor: pointer;
}

.fullscreenIcon {
    display: none;
}

#fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startGame {
    cursor: pointer;
}

.startGame:hover .description {
    color: #531a82;
    text-shadow: 2px 1px 2px white;
}

.startGame:hover img {
    filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
}

.startGameImg {
    height: 200px;
}

.moveIntro {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    gap: 2px;
}

.upIntro {
    margin-left: 34px;
    margin-right: 34px;
}

.arrowImg {
    height: 18px;
}

.attackIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 120px;
    gap: 2px;
}

.moveSharkie {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.description {
    color: white;
    font-size: 20px;
    text-shadow: none;
    text-align: center;
}

.introButton {
    background-color: #80ffdf;
    color: #531a82;
    border: solid 1px white;
    border-radius: 8px;
    text-shadow: none;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content: center;
}

.introButtonSpace {
    background-color: #80ffdf;
    color: #531a82;
    border: solid 1px white;
    border-radius: 8px;
    text-shadow: none;
    width: 64px;
    height: 30px;
    text-align: center;
    align-content: center;
}

.actionMoveBar {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    width: 108px;
    flex-wrap: wrap;
    display: none;
}

.arrow {
    height: 20px;
}

.arrowButtonUp {
    margin-left: 36px;
    margin-right: 36px;
}

.arrowLeft {
    rotate: -90deg;
}

.arrowRight {
    rotate: 90deg;
}

.arrowDown {
    rotate: 180deg;
}

.actionAttackBar {
    position: absolute;
    right: 20px;
    bottom: 20px;
    flex-wrap: wrap;
    width: 74px;
    justify-content: space-between;
    display: none;
}

.actionButtonMelee {
    height: 36px;
    width: 80px;
    border-radius: 50px;
}

.gameStartScreen {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    top: 25vh;
    background-color: rgb(0 0 25 / 70%);
    border-radius: 16px;
    border: solid 1px white;
    gap: 16px;
    padding: 12px;
}

.gameOverScreen {
    position: absolute;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    flex-direction: column;
    gap: 60px;
}

.gameOverImg {
    width: 300px;
    cursor: pointer;
}

.nextLevel {
    font-size: 48px;
    color: #531a82;
    text-shadow: none;
    cursor: pointer;
    background-color: #80ffdf;
    padding: 10px 30px 10px 30px;
    border-radius: 16px;
    border: solid 2px white;
}

.gameStartImg {
    width: 400px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .gameStartScreen {
        flex-direction: column;
        scale: 0.9;
        top: 5vh;
    }

    .fullscreenButton {
        display: none;
    }

    .fullscreenIcon {
        display: block;
        width: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .actionMoveBar {
        display: flex;
    }

    .actionAttackBar {
        display: flex;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}