@font-face {
    font-family: luckiestGuy;
    src: url(./fonts/LuckiestGuy-Regular.ttf);
}

canvas {
    background-color: black;
    display: block;
}

body {
    background-color: rgb(22, 13, 72);
    background-image: url("./img/3.\ Background/background2.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e04024;
    text-shadow: -5px -1px 0 #3a5aa6, 5px -1px 0 #3a5aa6, -4px 1px 0 #3a5aa6, 4px 1px 0 #3a5aa6;
    font-family: luckiestGuy;
    margin: 0;
}

button {
    background-color: mediumpurple;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.fullscreenButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fullscreenIcon {
    height: 20px;
    width: 20px;
}

.actionMoveBar {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    width: 108px;
    flex-wrap: wrap;
}

.arrow {
    height: 20px;
}

.arrowButtonUp {
    margin-left: 36px;
    margin-right: 36px;
}

.arrowLeft {
    rotate: -90deg;
}

.arrowRight {
    rotate: 90deg;
}

.arrowDown {
    rotate: 180deg;
}

.actionAttackBar {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 74px;
    justify-content: space-between;
}

.actionButtonMelee {
    height: 36px;
    width: 80px;
    border-radius: 50px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}